<h1>Stupid Coaching</h1>

<form action="answer">
	<div class="labelz">
		<label for="question">Ask your coach anything:</label>
	</div>

	<div class="rest">
		<div class="quesionz">
			<input type="text" name="question" id="enter-text">
		</div>

		<div class="ask">
			<input type="submit" value="Ask" id="ask-it">
		</div>
	</div>
</form>
